{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Transaction</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                {% if transaction['type'] == 'buy' %}
                    <tr class="table-success">
                        <td>{{ transaction["date"] }}</td>
                        <td>{{ transaction["type"] }}</td>
                        <td>{{ transaction["symbol"] }}</td>
                        <td>{{ transaction["shares"] }}</td>
                        <td>{{ transaction["price"] }}</td>
                        <td>{{ transaction["total"] }}</td>
                    </tr>
                {% else %}
                    <tr class="table-danger">
                        <td>{{ transaction["date"] }}</td>
                        <td>{{ transaction["type"] }}</td>
                        <td>{{ transaction["symbol"] }}</td>
                        <td>{{ transaction["shares"] }}</td>
                        <td>{{ transaction["price"] }}</td>
                        <td>{{ transaction["total"] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
